---
title: CSS stylesheet
---

a:hover {
	text-decoration: none
}

 #bg {
 	content:"";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background: url("{{site.baseurl}}/assets/images/bg-3.jpg") no-repeat center center; 
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover; 
	background-attachment: fixed; 
 }

#content .jumbotron{
	padding-top: 1em;
	padding-bottom: 3em;
	margin-top: 2em;
	background: rgba(25, 25, 12, .6);
	color: white;
	text-align: center;
	border-radius: 5em;
}

.jumbotron h1{
  	font-weight: 700;
    font-size: 7em;
    text-transform: uppercase; 
    margin-bottom: 10px;
    margin-top: 10px
}

.jumbotron h2{
	 font-size: 2.5em;
	 margin-top: 10px;
}

.jumbotron .button-row{
	margin-top: 100px;
}

.jumbotron button{
	font-size: 30px;
}

.site-section{
	background: rgba(92, 184, 92, 0.9);
	color:black;
	margin: 5px;
	padding: 20px;
}

.page{
	margin-top:-20px;
}


/* Extra Small */
@media(max-width:767px){
	body {
    	font-size: 11px; /* 1.5x default size */
	}	
}

/* Small */
@media(min-width:768px) and (max-width:991px){
	body {
    	font-size: 14px; /* 1.5x default size */
	}
}

/* Medium */
@media(min-width:992px) and (max-width:1199px){
	body {
    	font-size: 16px; /* 1.5x default size */
	}
}

/* Large */
@media(min-width:1200px){
	body {
    	font-size: 16px; /* 1.5x default size */
	}
}