---
title: CSS stylesheet
---
 #bg {
 	content:"";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background: url("{{site.baseurl}}/assets/images/bg-3.jpg") no-repeat center center; 
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover; 
	background-attachment: fixed; 
 }

.jumbotron{
	padding-top: 10px;
	padding-bottom: 50px;
	margin-top: 20px;
  background: rgba(25, 25, 12, .6);
  color: white;
  text-align: center;
}

.jumbotron h1{
  	font-weight: 700;
    font-size: 100px;
    text-transform: uppercase; 
    margin-bottom: 10px;
    margin-top: 10px
}

.jumbotron h2{
	 font-size: 50px;
	 margin-top: 10px;
}

.jumbotron .button-row{
	margin-top: 100px;
}

.jumbotron button{
	font-size: 30px;
}

.site-section{
	background: rgba(92, 184, 92, 0.9);
	color:black;
	margin: 5px;
	padding: 20px;
}

.page{
	margin-top:-20px;
}
