---
layout: default
---

<div class="container-fluid">
	<div id="content">


		<div class="jumbotron">
			<div class="container">
				{{ content }}
				<a class="btn btn-success btn-lg" href="#" role="button">Get Started! »</a>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<h2><span>1</span> Get Started</h2>
					<p>New to robotics? Don't know how to get started? We've got you covered.</p>
					<p><a class="btn btn-default" href="{{ site.baseurl }}/getstarted.html" role="button">View details »</a></p>
				</div>
				<div class="col-md-4">
					<h2><span>2</span> Explore Tutorials</h2>
					<p>Ok, so you've got the basics. Now let's look at some examples to keep you moving</p>
					<p><a class="btn btn-default" href="{{ site.baseurl }}/tutorials.html" role="button">View details »</a></p>
				</div>
				<div class="col-md-4">
					<h2><span>3</span> Make Projects</h2>
					<p>Want to try something more advanced? Here are some projects that members of the CARLbot community have built.</p>
					<p><a class="btn btn-default" href="{{ site.baseurl }}/projects.html" role="button">View details »</a></p>
				</div>
			</div>
		</div>
	</div>
</div>

