---
layout: default
---

<div class="container-fluid">
	<div id="content">
	<div id="bg"></div>
		<div class="jumbotron">
			<div class="container">
				{{ content }}
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-md-4 ">
					<div class="site-section ">
					<h2><i class="fa fa-star-o"></i> Get Started</h2>
					<p>New to robotics? Don't know how to get started? We've got you covered.</p>
					<p><a class="btn btn-primary" href="{{ site.baseurl }}/getstarted.html" role="button">View details »</a></p>
					</div>
				</div>
				<div class="col-md-4 ">
					<div class="site-section ">
						<h2><i class="fa fa-star-half-o"></i> Explore Tutorials</h2>
						<p>Ok, so you've got the basics. Now let's look at some examples to keep you moving</p>
						<p><a class="btn btn-primary" href="{{ site.baseurl }}/tutorials.html" role="button">View details »</a></p>
					</div>
				</div>
				<div class="col-md-4 ">
					<div class="site-section ">
						<h2><i class="fa fa-star"></i> Make Projects</h2>
						<p>Want to try something more advanced? Here are some projects that members of the CARLbot community have built.</p>
						<p><a class="btn btn-primary" href="{{ site.baseurl }}/projects.html" role="button">View details »</a></p>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>

